

li, nav ul li a, button {
    font-weight: 400;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-align: center;
}

header {
    position: absolute;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-image: linear-gradient(rgba(32, 33, 36, 0.4),rgba(32, 33, 36, 0));
    z-index: 1;
}

.logo {
    z-index: 1;
    cursor: pointer;
    height: 24px;
    width: auto;    
    margin: 8px 0px 8px 0px;
}

.nav-links {
    list-style: none;
    z-index: 1;
}

.nav-links li {
    list-style: none;
    display: inline-flex;
    margin: 0px 20px;
    transition: all 0.4s ease 0s;
}

.nav-links li:hover {
    transform: scale(1.05);
    opacity: 1;
    
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    list-style: none;
    overflow: hidden;

}

.nav-links li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.13em;
    bottom: 0;
    left: 0em;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s ease-in-out;

}

.nav-links li a.normal:hover:before,
.nav-links li a.contact-btn:hover:before,
.nav-links li a.faq-btn:hover:before,
.nav-links li a.biography-btn:hover:before
{
    visibility: visible;
    transform: scaleX(1);
}


.btn, .btn-merch {
    padding: .2rem 1rem;
    background-image: linear-gradient(62deg, #fe0fde 0%, #ff1e98 100%);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: 1s ease;
}

.btn span, .btn-merch span{
    display: block;
    padding: 8px;
}

.btn:hover {
    background-image: linear-gradient(62deg, #fe0fde 0%, #fe0fde 100%);
}

.btn-merch {
    background-image: linear-gradient(62deg, #34e2ff 0%, #929ef9 100%);
}

.btn-merch:hover {
    background-image: linear-gradient(62deg, #34e2ff 0%, #34e2ff 100%);
}


.small {
    display: none;
    position: absolute;
    top: 60px;
    float: right;
    right: 5%;
    width: 150px;
    text-align: right;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    z-index: 1;
}
.nav-links-small {
    list-style: none;
    background-color: #1b0d31;
}
.nav-links-small li {
    padding: 8px 0px 8px 0px;
}

.nav-links-small li a {
    color: inherit;
    text-decoration: inherit;
}

.burger {
    z-index: 1;
    cursor: pointer;
    display: none;
    transition: 100ms ease-in-out;
}

.burger:hover {
    transform: scale(1.15);
    
}

.burger-line {
    width: 25px;
    height: 2px;
    margin: 3px 0px;
    background-color: #edf0f1;
}