form.keyCode .inputBox {
    display: flex;
    flex-direction: column;
    width: 256px;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 700;
}

form input {
    border-radius: 4px 0px 0px 4px;
    border: none;
    outline: none;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 700;
}

form button {
    border-radius: 0px 4px 4px 0px;
    background-color:  #ff0fde;
    border: none;
    outline: none;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
}