
@media only screen and (max-width: 1270px) {
    .nav-links li {
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 1165px) {
    .nav-links li {
        margin: 0px 10px;
    }
}

/* mobile  */

@media (max-width: 1100px) {
    header {
        padding: 3% 5%;
    }

    .info {
        height: auto;
    }

    .dl-container {
        display: inherit;
    }

    .dl-background {
        transform: scale(1);
    }

    .music-container {
        padding: 0px 5%;
        align-items: center;
        padding-top: 100px;
    }
    .music-grid {
        justify-content: center;
    }

    .music-container img {
        width: 28vw;
    }

    .nav-links li {
        display: none;
    }

    .burger {
        display: block;

    }

    .card{
        flex-direction: column;
        width: 100%;
        box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;
        box-shadow: none;
    }

    .info {
        margin-top: -5px;
    }
    .buy {
        padding: 1.4rem 4rem;
    }

    .welcome-box {
        width: inherit;
        padding: 5% 5%;
        height: fit-content;
        border-radius: 0;
    }
}

@media (max-width: 600px){
    .buy {
        padding: 1.4rem 3.4rem;
    }

    .music-container img {
        width: 42.55vw;
    }
}

@media (max-width: 500px){
    .welcome-box-logo {
        display: none;
    }
}

@media (max-width: 490px){
    .buy {
        padding: 1rem 2.4rem;
    }

    .size{
        width: 30px;
        height: 30px;
        margin: 0 8px;
        font-size: .9rem;
        line-height: 30px;
    }

    .info{
        padding: 20px;
    }

    .social-links {
        font-size: 22px;
    }
}


@media (max-width: 415px){
    .music-container img {
        width: 40vw;
    }
}


@media (max-width: 360px){
    .buy i{
        display: none;
    }
}

@media (min-width: 915px){
    .cover-preview:hover{
        width: 57%;
    }
}